.section {
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  height: 180vh;
  padding: 4rem 0 2rem 0;
}


.form {
  width: 45%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  padding: 2rem 3rem 2rem 3rem;
}




/*  CONTAINERS   */
.box_container {
  display: flex;
  justify-content: space-between;
}


.select_container {
  display: flex;
  flex-direction: column;
}

.selectType_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  gap: 1rem;
  margin: auto;
  background-color: transparent;
  border-radius: 8px;
  margin-bottom: 2rem;
}


.formCategory_container {
  padding-top: 0.6rem;
}

.formInput_container {
  width: 100%;
}

.select_container {
  padding: 1rem 0;  
  font-family: 'Montserrat';
  font-size: 0.8rem;
  font-weight: 300;
}


.submitForm_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem 2rem 0rem;
}


.defaultContainer {
  width: 45%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  padding: 2rem 3rem 2rem 3rem;
}





/*  TAG ELEMENTS   */
.h3 {
  font-family: 'Montserrat';
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.h4 {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.9;
}


.label {
  font-family: 'Montserrat';
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 1rem;
}


.p {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  opacity: 0.8;
} 

.p2 {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  opacity: 0.8;
  text-align: center;
  margin-bottom: 1rem
}


.select_container > input {
  padding: 0.6rem 1rem;  
  font-family: 'Montserrat';
  font-size: 0.9rem;
  font-weight: 500;
}


.select_container > textarea {
  padding: 0.6rem 1rem;  
  font-family: 'Montserrat';
  font-size: 0.9rem;
  resize: none;
  height: 6rem;
  font-weight: 400;
}



.span {
  font-weight: 700;
  cursor: pointer;
}

.btn {
  font-family: 'Montserrat';
  background-color: black;
  color: white;
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid black;
}


select {
  padding: 0.6rem 1rem;  
  font-family: 'Montserrat';
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 1rem;
}






/* WIDTH */
@media (max-width: 480px) {
  .section {
    padding: 4rem 0 2rem 0;
  }

  .defaultContainer {
    width: 90%;
    border-radius: 8px;
    padding: 2rem 3rem 2rem 3rem;
  }
  
  .form {
    width: 90%;
    margin: auto;
    padding: 1rem;
  }


  .selectType_container {
    width: 90%;
    margin-bottom: 2rem;
  }

  .selectType_container > select {
    padding: 0.6rem 0.5rem;  
    margin-left: 0.5rem;
  }


  .formInput_container {
    width: 100%;
  }

  .select_container {
    padding: 0.6rem 0rem; 
    font-size: 0.8rem;
  }

  .submitForm_container {
    padding: 4rem 1rem 2rem 0rem;
  }
  
  .h3 {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  
  .h4 {
    font-size: 1rem;
  }
  
  
  .label {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .p {
    font-size: 0.7rem;
    width: 50%;
  } 
  
  .btn {
    padding: 0.7rem 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .section {
    padding: 4rem 0 2rem 0;
  }

  .defaultContainer {
    width: 90%;
    border-radius: 8px;
    padding: 2rem 3rem 2rem 3rem;
  }
  
  .form {
    width: 90%;
    margin: auto;
    padding: 1rem;
  }

  .selectType_container {
    width: 90%;
    margin-bottom: 2rem;
  }

  .selectType_container > select {
    padding: 0.6rem 0.5rem;  
    margin-left: 2rem;
  }

  .formInput_container {
    width: 100%;
  }

  .select_container {
    padding: 0.6rem 0rem; 
    font-size: 0.8rem;
  }

  .submitForm_container {
    padding: 4rem 1rem 2rem 0rem;
  }
  
  .h3 {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  
  .h4 {
    font-size: 1rem;
  }
  
  
  .label {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .p {
    font-size: 0.7rem;
    width: 50%;
  } 
  
  .btn {
    padding: 0.7rem 1.5rem;
  }
}


@media (min-width: 601px) and (max-width: 768px) {
  .section {
    padding: 4rem 0 2rem 0;
  }

  .defaultContainer {
    width: 80%;
    border-radius: 8px;
    padding: 2rem 3rem 2rem 3rem;
  }
  
  .form {
    width: 80%;
    margin: auto;
    padding: 1rem;
  }


  .selectType_container {
    width: 80%;
    margin-bottom: 2rem;
  }

  .selectType_container > select {
    padding: 0.6rem 0.5rem;  
    margin-left: 2rem;
  }


  .formInput_container {
    width: 100%;
  }

  .select_container {
    padding: 0.6rem 0rem; 
    font-size: 0.8rem;
  }

  .submitForm_container {
    padding: 4rem 1rem 2rem 0rem;
  }
  
  .h3 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  
  .h4 {
    font-size: 1rem;
  }
  
  
  .label {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .p {
    font-size: 0.7rem;
    width: 50%;
  } 
  
  .btn {
    padding: 0.7rem 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1114px) {
  .section {
    padding: 4rem 0 2rem 0;
  }

  .defaultContainer {
    width: 70%;
    border-radius: 8px;
    padding: 2rem 3rem 2rem 3rem;
  }
  
  .form {
    width: 70%;
    margin: auto;
    padding: 1rem;
  }

  .selectType_container {
    width: 70%;
    margin-bottom: 2rem;
  }

  .selectType_container > select {
    padding: 0.6rem 0.5rem;  
    margin-left: 2rem;
  }


  .formInput_container {
    width: 100%;
  }

  .select_container {
    padding: 0.6rem 0rem; 
    font-size: 0.8rem;
  }

  .submitForm_container {
    padding: 4rem 1rem 2rem 0rem;
  }
  
  .h3 {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  
  .h4 {
    font-size: 1rem;
  }
  
  
  .label {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .p {
    font-size: 0.7rem;
    width: 50%;
  } 
  
  .btn {
    padding: 0.7rem 1.5rem;
  }
}






/* HEIGHT */
@media (max-height: 800px) {
  .section {
    height: 100%;
  }
}