.form {
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: column;
  background-color: rgb(114, 170, 255);
  border-radius: 8px;
  gap: 2rem;
  padding: 2rem;
}


.mainContainer {
  display: flex;
  flex-direction: column;
}


.innerTopContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.innerBottomContainer {

}



.input {
  font-family: 'Montserrat';
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.textarea {
  font-family: 'Montserrat';
  font-size: 1rem;
  padding: 0.5rem;
  height: 6rem;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}