.achievementsSection {
  margin-top: 12rem;
}


.btnContainer {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: flex-end;
}





/*****  WIDTH   *****/
@media (max-width: 370px) {
  .achievementsSection {
    margin-top: 8rem;
  }

  .btnContainer {
    width: 90%;
    justify-content: center;
  }
}


@media (min-width: 371px) and (max-width: 500px) {
  .achievementsSection {
    margin-top: 8rem;
  }

  .btnContainer {
    width: 80%;
    justify-content: flex-end;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .achievementsSection {
    margin-top: 8rem;
  }

  .btnContainer {
    width: 75%;
    justify-content: flex-end;
  }
}



@media (min-width: 601px) and (max-width: 768px) { 
  .achievementsSection {
    margin-top: 8rem;
  }

  .btnContainer {
    width: 70%;
    justify-content: flex-end;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .achievementsSection {
    margin-top: 8rem;
  }

  .subContainer {
    width: 70%;
  }

  .btnContainer {
    width: 70%;
    justify-content: flex-end;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .achievementsSection {
    margin-top: 8rem;
  }

  .btnContainer {
    width: 70%;
    justify-content: flex-end;
  }
}


@media (min-width: 1025px) and (max-width: 1444px) {
  .achievementsSection {
    margin-top: 10rem;
  }

  .btnContainer {
    width: 65%;
    justify-content: flex-end;
  }
}
