/*******  SECTIONS  ********/
.mainContainer_SkillSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 60vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}

.mainContainer_PortfolioInfo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 55vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}

.mainContainer_Information {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 55vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}

.mainContainer_PortfolioInfo_expanded {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 115vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}


.mainContainer_ProjectSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 75vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}


.mainContainer_AchievementSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 65vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}

.mainContainer_AchievementPageSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 65vh;
  margin-top: 2rem;
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  padding-top: 2rem;
}



.mainContainer_ContactSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  height: 60vh;
}






/*****  WIDTH   *****/
@media (max-width: 370px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 80vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_PortfolioInfo {
    height: 65vh;
  }

  .mainContainer_Information {
    height: 80vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 190vh;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_AchievementPageSection{
    height: 68vh;
  }
  

  .mainContainer_ContactSection {
    height: 60vh;
  }

  .mainContainer_ProjectSection {
    height: 70vh;
  }
}


@media (min-width: 371px) and (max-width: 450px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 80vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }


  .mainContainer_PortfolioInfo {
    height: 70vh;
  }

  .mainContainer_Information {
    height: 85vh;
  }


  .mainContainer_PortfolioInfo_expanded {
    height: 190vh;
  }

  .mainContainer_AchievementPageSection{
    height: 68vh;
  }

  .mainContainer_ContactSection {
    height: 60vh;
  }

  .mainContainer_ProjectSection {
    height: 70vh;
  }
}



@media (min-width: 451px) and (max-width: 500px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 80vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_PortfolioInfo {
    height: 65vh;
  }

  .mainContainer_Information {
    height: 78vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 165vh;
  }


  .mainContainer_AchievementPageSection{
    height: 68vh;
  }

  .mainContainer_ContactSection {
    height: 60vh;
  }

  .mainContainer_ProjectSection {
    height: 70vh;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 80vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_PortfolioInfo {
    height: 65vh;
  }

  .mainContainer_Information {
    height: 75vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 160vh;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_AchievementPageSection{
    height: 70vh;
  }

  .mainContainer_ProjectSection {
    height: 70vh;
  }
}



@media (min-width: 601px) and (max-width: 768px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 80vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_PortfolioInfo {
    height: 60vh;  
  }

  .mainContainer_Information {
    height: 65vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 140vh;
  }


  .mainContainer_ProjectSection {
    height: 72vh;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .mainContainer_SkillSection {
    gap: 3rem;
    height: 50vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_PortfolioInfo {
    height: 55vh;  
  }

  .mainContainer_Information {
    height: 60vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 125vh;
  }

  .mainContainer_ContactSection {
    height: 55vh;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .mainContainer_SkillSection {
    gap: 3rem;
    height: 50vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_PortfolioInfo {
    height: 55vh;  
  }

  .mainContainer_Information {
    height: 60vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 120vh;
  }

  .mainContainer_AchievementPageSection{
    height: 65vh;
  }


  .mainContainer_ContactSection {
    height: 55vh;
  }
}


@media (min-width: 1025px) and (max-width: 1444px) {
  .mainContainer_SkillSection {
    gap: 3rem;
    height: 50vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_PortfolioInfo {
    height: 55vh;  
  }

  .mainContainer_Information {
    height: 60vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 115vh;
  }

  .mainContainer_ContactSection {
    height: 60vh;
  }
}








/*****  HEIGHT   *****/
/* For small to medium screen heights (mobile portrait, small tablets) */
@media (min-height: 501px) and (max-height: 540px)  {
  .mainContainer_SkillSection {
    height: 135vh;
  }

  .mainContainer_ProjectSection {
    height: 115vh;
  }

  .mainContainer_AchievementSection {
    height: 80vh;
  }

  .mainContainer_ContactSection {
    height: 110vh;
  }

  .mainContainer_Information {
    height: 120vh;
  }

  .mainContainer_PortfolioInfo {
    height: 100vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 250vh;
  }
}

@media (min-height: 541px) and (max-height: 600px)  {
  .mainContainer_SkillSection {
    height: 130vh;
  }

  .mainContainer_ProjectSection {
    height: 105vh;
  }

  .mainContainer_AchievementSection {
    height: 70vh;
  }

  .mainContainer_ContactSection {
    height: 100vh;
  }

  .mainContainer_Information {
    height: 120vh;
  }

  .mainContainer_PortfolioInfo {
    height: 100vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 250vh;
  }
}

@media (min-height: 601px) and (max-height: 700px)  {
  .mainContainer_SkillSection {
    height: 115vh;
  }

  .mainContainer_ProjectSection {
    height: 92vh;
  }

  .mainContainer_AchievementSection {
    height: 62vh;
  }

  .mainContainer_ContactSection {
    height: 90vh;
  }

  .mainContainer_Information {
    height: 105vh;
  }

  .mainContainer_PortfolioInfo {
    height: 90vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 225vh;
  }
}

@media (min-height: 701px) and (max-height: 800px)  {
  .mainContainer_SkillSection {
    height: 100vh;
  }

  .mainContainer_ProjectSection {
    height: 82vh;
  }

  .mainContainer_AchievementSection {
    height: 55vh;
  }

  .mainContainer_ContactSection {
    height: 75vh;
  }

  .mainContainer_Information {
    height: 92vh;
  }

  .mainContainer_PortfolioInfo {
    height: 82vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 190vh;
  }
}



/* For medium to large screen heights (laptops, desktops) */
@media (min-height: 801px) and (max-height: 900px)  {
  .mainContainer_SkillSection {
    height: 90vh;
  }

  .mainContainer_AchievementSection {
    height: 49vh;
  }

  .mainContainer_ContactSection {
    height: 67vh;
  }

  .mainContainer_ProjectSection {
    height: 72vh;
  }

  .mainContainer_Information {
    height: 85vh;
  }

  .mainContainer_PortfolioInfo {
    height: 70vh;
  }

  .mainContainer_PortfolioInfo_expanded {
    height: 170vh;
  }
}



