.titleContainer {
  width: 60%;
  margin: auto;
  display: flex;
  gap: 2rem;
}



.h2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2rem;
}






/*****  WIDTH   *****/
@media (max-width: 370px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 90%;
  }
}


@media (min-width: 371px) and (max-width: 500px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 80%;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 75%;
  }
}



@media (min-width: 601px) and (max-width: 768px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 70%;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 70%;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 70%;
  }
}


@media (min-width: 1025px) and (max-width: 1444px) {
  .h2 {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 65%;
  }
}