.mainContainer_SkillSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 60vh;
  margin-top: 1rem;
  background-color: rgba(114, 170, 255);
  padding-top: 2rem;
}


.mainContainer_ProjectSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 70vh;
  margin-top: 1rem;
  background-color: rgba(114, 170, 255);
  padding-top: 2rem;
}


.mainContainer_AchievementSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 70vh;
  margin-top: 1rem;
  background-color: rgba(114, 170, 255);
  padding-top: 2rem;
}



.mainContainer_GetInTouchSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 60vh;
  margin-top: 1rem;
  background-color: rgba(114, 170, 255);
  padding-top: 2rem;
}






/*****  WIDTH   *****/
@media (max-width: 370px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 72vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_GetInTouchSection {
    height: 60vh;
  }
}


@media (min-width: 371px) and (max-width: 500px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 72vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_GetInTouchSection {
    height: 60vh;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 72vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }
}



@media (min-width: 601px) and (max-width: 768px) {
  .mainContainer_SkillSection {
    gap: 1.5rem;
    height: 72vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .mainContainer_SkillSection {
    gap: 3rem;
    height: 45vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_GetInTouchSection {
    height: 55vh;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .mainContainer_SkillSection {
    gap: 3rem;
    height: 45vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_AchievementSection {
    height: 45vh;
  }

  .mainContainer_GetInTouchSection {
    height: 55vh;
  }
}


@media (min-width: 1025px) and (max-width: 1444px) {
  .mainContainer_SkillSection {
    gap: 3rem;
    height: 45vh;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .mainContainer_GetInTouchSection {
    height: 60vh;
  }
}








/*****  HEIGHT   *****/
/* For small to medium screen heights (mobile portrait, small tablets) */
@media (min-height: 501px) and (max-height: 540px)  {
  .mainContainer_SkillSection {
    height: 135vh;
  }

  .mainContainer_ProjectSection {
    height: 115vh;
  }

  .mainContainer_AchievementSection {
    height: 80vh;
  }

  .mainContainer_GetInTouchSection {
    height: 110vh;
  }
}

@media (min-height: 541px) and (max-height: 600px)  {
  .mainContainer_SkillSection {
    height: 120vh;
  }

  .mainContainer_ProjectSection {
    height: 105vh;
  }

  .mainContainer_AchievementSection {
    height: 70vh;
  }

  .mainContainer_GetInTouchSection {
    height: 100vh;
  }
}

@media (min-height: 601px) and (max-height: 700px)  {
  .mainContainer_SkillSection {
    height: 100vh;
  }

  .mainContainer_ProjectSection {
    height: 92vh;
  }

  .mainContainer_AchievementSection {
    height: 62vh;
  }

  .mainContainer_GetInTouchSection {
    height: 90vh;
  }
}

@media (min-height: 701px) and (max-height: 800px)  {
  .mainContainer_SkillSection {
    height: 88vh;
  }

  .mainContainer_ProjectSection {
    height: 78vh;
  }

  .mainContainer_AchievementSection {
    height: 55vh;
  }

  .mainContainer_GetInTouchSection {
    height: 75vh;
  }
}



/* For medium to large screen heights (laptops, desktops) */
@media (min-height: 801px) and (max-width: 900px)  {
  .mainContainer_SkillSection {
    height: 78vh;
  }

  .mainContainer_AchievementSection {
    height: 49vh;
  }

  .mainContainer_GetInTouchSection {
    height: 67vh;
  }
}



