.p {
  font-family: 'Montserrat';
  font-weight: 300;
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.summarySection {
  margin-top: 15rem;
}





/*****  WIDTH   *****/
@media (max-width: 370px) {
  .p {
    margin-top: 1rem;
    line-height: 150%;
    font-size: 1rem;
    width: 90%;
  }
  
  .summarySection {
    margin-top: 8rem;
  }
}


@media (min-width: 371px) and (max-width: 500px) {
  .p {
    margin-top: 1rem;
    line-height: 150%;
    font-size: 1rem;
    width: 80%;
  }
  
  .summarySection {
    margin-top: 8rem;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .p {
    margin-top: 1rem;
    line-height: 150%;
    font-size: 1rem;
    width: 75%;
  }
  
  .summarySection {
    margin-top: 8rem;
  }
}



@media (min-width: 601px) and (max-width: 768px) {
  .p {
    margin-top: 1rem;
    line-height: 150%;
    font-size: 1rem;
    width: 70%;
  }
  
  .summarySection {
    margin-top: 12rem;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .p {
    margin-top: 1rem;
    line-height: 150%;
    font-size: 1rem;
    width: 70%;
  }
  
  .summarySection {
    margin-top: 12rem;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .p {
    margin-top: 1rem;
    line-height: 150%;
    font-size: 1rem;
    width: 70%;
  }
  
  .summarySection {
    margin-top: 12rem;
  }
}


@media (min-width: 1025px) and (max-width: 1444px) {
  .p {
    margin-top: 1.2rem;
    line-height: 150%;
    font-size: 1.1rem;
    width: 65%;
  }
  
  .summarySection {
    margin-top: 12rem;
  }
}