.container_project {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1rem; 
  width: 100%; 
  margin: auto;
  max-width: 80%; 
  padding: 1rem 0; 
}

.container_achievement {
  display: flex;
  gap: 1.2rem;
}

.btn {
  background-color: white;
  width: 12px; 
  height: 12px; 
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  display: inline-block;
}


.btnSelected {
  width: 12px; 
  background-color: black;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}


.btn:hover {
  background-color: grey;
  transition: 0.3s ease-out;
}






/*****  WIDTH   *****/
/* @media (max-width: 370px) {
  .container_project {
    width: 80%;
    margin: auto;
  }
}


@media (min-width: 371px) and (max-width: 500px) {
  .container_project {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .container_project {
    width: 60%;
    margin: auto;
  }
}



@media (min-width: 601px) and (max-width: 768px) {
  .container_project {
    width: 100%;
    margin: auto;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .container_project {
    width: 100%;
    margin: auto;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .container_project {
    width: 100%;
    margin: auto;
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .container_project {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 1281px) and (max-width: 1444px) {
  .container_project {
    width: 100%;
    margin: auto;
  }
} */


/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .container_project {
    gap: 1rem; 
    max-width: 90%; 
  }

  .btn {
    width: 12px;
    height: 12px;
  }

  .btnSelected {
    width: 12px; 
    height: 12px;
  }
}