.detailsBtn {
  align-self: flex-end;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  background-color: rgba(114, 170, 255, 0.50);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  font-family: 'Montserrat';
  font-size: 0.8rem;
  font-weight: 500;
}


.detailsBtn:hover {
  color: white;
  transition: 0.3s ease-out;
}


.viewMoreBtn {
  align-self: flex-end;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  font-family: 'Montserrat';
  font-size: 0.9rem;
  font-weight: 600;
}


.viewMoreBtn:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-out;
}




.redirectBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  background-color: rgb(141, 186, 255);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 600;
}








