.mainContainer {
  background: linear-gradient(135deg, hsla(216, 100%, 72%, 1) 0%, hsla(215, 100%, 87%, 1) 100%);
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  margin-top: 7rem;
  border-radius: 8px;
}



.h2 {
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.p {
  font-family: 'Montserrat';
  font-size: 1.1rem;
  margin-bottom: 2rem;
}


.btn {
  background-color: white;
  width: 35%;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}

.link {
  font-family: 'Montserrat';
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  font-weight: 500;
}





/*****  WIDTH   *****/
@media (max-width: 370px) {
  .mainContainer {
    width: 95%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.3rem;
  }
  
  .p {
    font-size: 1rem;
  }
  
  
  .btn {
    width: 60%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}


@media (min-width: 371px) and (max-width: 500px) {
  .mainContainer {
    width: 95%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.3rem;
  }
  
  .p {
    font-size: 1rem;
  }
  
  
  .btn {
    width: 60%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .mainContainer {
    width: 80%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.4rem;
  }
  
  .p {
    font-size: 1rem;
  }
  
  
  .btn {
    width: 50%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}



@media (min-width: 601px) and (max-width: 768px) {
  .mainContainer {
    width: 80%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.4rem;
  }
  
  .p {
    font-size: 1rem;
  }
  
  
  .btn {
    width: 40%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}



@media (min-width: 769px) and (max-width: 900px) {
  .mainContainer {
    width: 60%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.4rem;
  }
  
  .p {
    font-size: 1rem;
  }
  
  
  .btn {
    width: 40%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}


@media (min-width: 901px) and (max-width: 1024px) {
  .mainContainer {
    width: 60%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.5rem;
  }
  
  .p {
    font-size: 1.2rem;
  }
  
  
  .btn {
    width: 40%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}


@media (min-width: 1025px) and (max-width: 1444px) {
  .mainContainer {
    width: 50%;
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .h2 {
    font-size: 1.5rem;
  }
  
  .p {
    font-size: 1.2rem;
  }
  
  
  .btn {
    width: 40%;
    padding: 0.8rem;
  }
  
  .link {
    font-size: 0.9rem;
  }
}